.newsletterFooter {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.newsletterConditions {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.newsletterFooterCompanyDetails {
    vertical-align: middle;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif !important;
    color: #000000;
    background: #ececec;
    width: 100%;
}

.newsletterFooterTitle {
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.newsletterFooterCategories {
    padding-bottom: 35px;
}

.newsletterFooterBanner {
    padding-bottom: 20px!important;
}

.newsletterFooterCategoryLEFT {
    padding-bottom: 20px!important;
    padding-right: 10px!important;
}

.newsletterFooterCategoryRIGHT {
    padding-bottom: 20px!important;
    padding-left: 10px!important;
}

.newsletterFooterCategoryLEFTBottom {
    padding-right: 10px!important;
}

.newsletterFooterCategoryRIGHTBottom {
    padding-left: 10px!important;
}

.newsletterSocialIcon {
    padding-left: 25px!important;
}

.newsletterTopBottomContainer {
    padding-top: 35px!important;
    padding-bottom: 35px!important;
}

.newsletterKlarnaBannerContainer {
    padding-top: 35px!important;
    padding-bottom: 35px!important;
}

.footer {
    width: 50% !important;
}

/* FOOTER END */

/* NEWSLETTER LINE START */

.newsletterLineTop60 {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

/* NEWSLETTER LINE END */

/* SOONENDING START */

.newsletterSoonEndingTitle {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.newsletterSoonEndingBanner {
    padding-bottom: 20px;
}

.newsletterSoonEndingContainer {
    padding-top: 35px!important;
    padding-bottom: 35px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.newsletterSoonEndingTitleContainer {
    text-align: left;
    padding-bottom: 35px!important;
}

/* SOONENDING END */


/* CONTAINERS START */

.newsletterProductContainer {
    padding-top: 20px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.newsletterContainer {
    padding-top: 35px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.newsletterBottom35px {
    padding-bottom: 35px!important;
}

.newsletterTitleContainer {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.newsletterCtaContainer {
    text-align: left;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

/* CONTAINERS END */

/* PRODUCT START */

.newsletterProductTitle {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
    color: #000000;
}

.newsletterProductTitleContainer {
    padding-top: 20px;
}

.newsletterProductTitleLowPrice {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
    color: #000000;
    font-weight: 600;
}

.newsletterProductTitleHightPrice {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
    color: #000000;
    text-decoration: line-through;
    padding-left: 5px;
}


.newsletterProductContainerLEFT {
    width: 50%!important;
    vertical-align: top;
    padding-right: 10px!important;
    padding-bottom: 35px!important;
}

.newsletterProductContainerRIGHT {
    width: 50%!important;
    vertical-align: top;
    padding-left: 10px!important;
    padding-bottom: 35px!important;
}

/* PRODUCT END */

.newsletterParagraph {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
    color: #000000;
}

.newsletterTitle {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
    color: #000000;
}

.newsletterBottom35px {
    padding-bottom: 35px!important;
}


.newsletterCta {
    font-size: 20px;
    line-height: 1.25;
    font-family: 'Open Sans', sans-serif;
    color: #000000 !important;
    text-decoration: underline;
}

.newsletterFreeProduct {
    padding-left: 20px;
    padding-right: 20px;
}

.newsletterIntroProducts {
    padding-top: 35px !important;
    padding-bottom: 70px !important;
}

.newsletterFreebieTop {
    padding-bottom: 32px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.newsletterFreebieBottom {
    padding-right: 15px !important;
    padding-left: 15px !important;
}


@media only screen and (max-width: 480px) {

    .newsletterFreebieTop {
        padding-bottom: 20px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .newsletterFreebieBottom {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    /* FOOTER START */
    .newsletterSocialIcon {
        padding-left: 13px !important;
    }

    .newsletterFooterCategoryLEFT {
        padding-bottom: 10px !important;
        padding-right: 5px !important;
    }

    .newsletterFooterCategoryRIGHT {
        padding-bottom: 10px !important;
        padding-left: 5px !important;
    }

    .newsletterFooterCategoryLEFTBottom {
        padding-right: 5px !important;
    }

    .newsletterFooterCategoryRIGHTBottom {
        padding-left: 5px !important;
    }

    .newsletterFooter {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .newsletterFooterCategories {
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }

    .newsletterFooterBanner {
        padding-bottom: 10px !important;
    }

    .newsletterFooterTitle {
        font-size: 18px !important;
    }

    .newsletterTopBottomContainer {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .footer {
        width: 50% !important;
    }

    .newsletterKlarnaBannerContainer {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    /* FOOTER END */

    /* NEWSLETTER-LINE START */
    .newsletterLine {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .newsletterLineTop60 {
        padding-top: 30px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    /* NEWSLETTER-LINE END */

    /* SOONENDING START */
    .newsletterSoonEndingTitleContainer {
        padding-bottom: 20px !important;
        padding-top: 10px !important;
    }

    .newsletterSoonEndingContainer {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .newsletterSoonEndingBanner {
        padding-bottom: 10px !important;
    }

    .newsletterSoonEndingTitle {
        font-size: 18px !important;
    }

    /* SOONENDING END */



    /* CONTAINERS START */

    .newsletterContainer {
        padding-top: 20px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .newsletterProductContainer {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .newsletterTitleContainer {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 20px !important;
        padding-right: 10px !important;
    }

    .newsletterCtaContainer {
        padding-bottom: 20px !important;
    }

    /* CONTAINERS END */

    /* PRODUCT START */

    .newsletterProductTitleContainer {
        padding-top: 10px !important;
    }

    .newsletterSoonEndingTitleContainer {
        padding-bottom: 20px !important;
    }

    .newsletterProductContainerRIGHT {
        padding-bottom: 20px !important;
    }

    .newsletterProductContainerLEFT {
        padding-bottom: 20px !important;
    }

    /* PRODUCT END */

    .newsletterParagraph {
        font-size: 16px;
    }

    .newsletterTitle {
        font-size: 25px;
    }

    .newsletterBottom35px {
        padding-bottom: 20px !important;
    }

    .newsletterIntroProducts {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .newsletterProductTitleHightPrice {
        display: block;
        padding-left: 0px !important;
    }

    .newsletterProductTitle {
        font-size: 16px !important;
    }

    .newsletterProductTitleLowPrice {
        font-size: 14px !important;
    }
}